.root {
  color: var(--text-color);
  transition: text-shadow 0.25s;
}

.root:hover {
  text-shadow: 5px 5px 5px var(--secondary-color);
}

/* .root:focus,
.root:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
